
{{ form_start(form) }}
    {{ form_widget(form) }}

    	{% if app.request.attributes.get('_route') == 'app_excursion_edit' %}
        <h2>Images</h2>
      <div class="col-sm-10">

        {% for image in excursion.images %}
           
    
             
              
                <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="150">
      

  <a class="btn edit btn-danger"  href ='{{path('image_delete_excursion',{id: image.id}) }}' ><i class="icon-trash-alt"></i></a>           
      
        {% endfor %}
  
      </div>

    {% endif %}
       <button  class="btn btn-info" style="width:100px;margin-left: 90%;position: relative;"  > <i class="icon-floppy-disk"></i> {{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
