{% extends 'base.html.twig' %}
{% block style %}{% endblock %}
{% block titlepage %} Excursion index{% endblock %}

{% block script %}
	<script src="{{ asset('admin/global_assets/js/plugins/tables/datatables/datatables.min.js') }}"> </script>
	<script src="{{ asset('admin/global_assets/js/demo_pages/datatables_basic.js') }}"> </script>   
{% endblock %}

{% block content %}

   <div class="content">
  
              
           
   <div class="card-header header-elements-inline" style="background-color: #007682b5;" style="padding-bottom:100px">
  
						<h3 class="card-title" style="color:white">Liste des Excursions</h3>
                        <div class="header-elements"  >
							 <a class="btn btn-dark" style="width:190px" href="{{ path('app_excursion_new') }}"><i class="icon-user-plus"></i> Ajouter Excursion</a>
	                	</div>
                           </div>
                           
                           <div class="card">
						
							<div class="card-body">
    <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
        <thead>
            
            <tr>
               
                <th>Title</th>
        
              
                <th>Pays</th>
                <th>Inclus</th>
                <th>Non_Inclus</th>
                <th colspan="2"><center>Images</center></th>
                <th colspan="3"><center>actions</center></th>
            </tr>
        </thead>
        <tbody>
        {% for excursion in excursions %}
            <tr>
               
                <td>{{ excursion.titre }}</td>
               
                 {% for excursion in excursion.pays|slice(0, 1) %}
            
                  <td>{{ excursion.nom}}</td>
               
            
            {% endfor %}
      
                <td>{{ excursion.inclus|slice(0, 55)|raw}}...</td>
                <td>{{ excursion.NonInclus|slice(0, 55)|raw }}...</td>
                <td colspan="2">
                 <center>
                {% for image in excursion.images|slice(0, 1) %}
               <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="150">
                      
        {% endfor %}
             </center></td>
                <td colspan="3">
                <center>
                     <a class="btn edit btn-info"  href="{{ path('app_excursion_show', {'id': excursion.id}) }}"style="width:40px"><i class="icon-eye2"></i></a>
                     <a class="btn edit btn-warning"  href="{{ path('app_excursion_edit', {'id': excursion.id}) }}"style="width:40px"><i class="icon-pencil"></i></a>
                    {{ include('excursion/_delete_form.html.twig') }}
                   </center>
            </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}