{% extends 'layout.html.twig' %}
 {% block body %}

 <div id="content_wrapper"> 
    <div class="clearfix"></div>

	<div class="slider_tab_main">
	<!-- Home first slider start -->
  <div class="full_width home_slider">
	 <div class="example">
		  <article class="content" style="width:100%; float:left;">
			  <div id="rev_slider_116_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="layer-animations" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
				  <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
				  <div id="rev_slider_116_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
					  <ul style="width:100% !important;" class="home_3_slide">
						  <!-- SLIDE  -->
						  <li data-index="rs-391" data-transition="parallaxhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Smooth Mask" data-description="">
							  <!-- MAIN IMAGE -->
							 <img src="{{ asset('client/assets1/images/slider-beach.jpg')}}" width="1602" height="700" alt="slide2" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							  <!-- LAYERS -->
		
							 <div class="slider_heading_wrap">
							  <!-- LAYER NR. 1 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-391-layer-1" 
									 data-x="930" data-hoffset="" 
									 data-y="center" data-voffset="-150" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="y:top;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-start="3000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
									<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon1.png') }}" alt="icon1" >
									</div>
									
								</div>
								
								<!-- LAYER NR. 1 -->
									 <!--LAYER 2 START-->
									  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-391-layer-2" 
									 data-x="1000" data-hoffset="" 
									 data-y="center" data-voffset="-70" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="x:right;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									 
									data-start="4000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
									<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon2.png') }}" alt="icon1" >
									</div>
									
								</div>
					           <!-- LAYER 2 END -->
							   <!-- LAYER NR. 3 -->
							 <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-391-layer-3"
							 
							 data-x="1000" data-hoffset="" 
									 data-y="center" data-voffset="30" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="x:right;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-start="5000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" >
							<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon3.png') }}" alt="icon1" >
									</div>
									 </div>
									 
									 <!-- LAYER 3 END -->
									 
									  <!-- LAYER NR. 4 -->
							 <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-391-layer-4"
							 
							 data-x="930" data-hoffset="" 
									 data-y="center" data-voffset="100" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
							    data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 
									data-start="6000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" >
							<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon4.png') }}" alt="icon1" >
									</div>
									 </div>
									 
									 <!--LAYER 4 END-->
									 
									 <!-- LAYER NR. 5 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-391-layer-5" 
									 data-x="830" data-hoffset="" 
									 data-y="center" data-voffset="-10" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="y:top;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-start="2000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
									<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon5.png') }}" alt="icon1" >
									</div>
									
								</div>
								<!-- LAYER NR. End -->
								
									 <!-- LAYER NR. 6 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-391-layer-6" 
									 data-x="580" data-hoffset="" 
									 data-y="center" data-voffset="40" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									  data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" 
									 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
									 
									data-start ="1500" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
								<div style="font-size:75px; line-height:70px;" class="sun_text">
									   Trouvez Votre<br/>
									   Aventure
									</div>
									
								</div>
								<!-- LAYER NR. End -->
								
								
								 <!-- LAYER NR. 7 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-391-layer-7" 
									 data-x="600" data-hoffset="" 
									 data-y="center" data-voffset="180" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;" 
									 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
									 
									data-start="7500" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
									
									
								</div>
								<!-- LAYER NR. End -->
								
								
								<!-- LAYER NR. 8 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-391-layer-8" 
									 data-x="980" data-hoffset="" 
									 data-y="center" data-voffset="200" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" 
									 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"  
									 
									data-start="8500" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="off" style="text-align:center;">
									
								
									
								</div>
								<!-- LAYER NR. End -->
								
							  </div>
							  
							  <!-- LAYER end -->
							  
						  </li>
						  <!--slide-->
						  
						  
						   <li data-index="rs-392" data-transition="parallaxhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Smooth Mask" data-description="">
							  <!-- MAIN IMAGE -->
							   <img src="{{ asset('client/assets/images/loginslider.jpg')}}" width="1602" height="700" alt="slide2" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							  <!-- LAYERS -->
		
							 <div class="slider_heading_wrap">
							  <!-- LAYER NR. 1 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-392-layer-1" 
									 data-x="930" data-hoffset="" 
									 data-y="center" data-voffset="-150" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="y:top;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-start="3000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
									<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon1.png') }}" alt="icon1" >
									</div>
									
								</div>
								<!-- LAYER NR. 1 -->
								
								
									 <!-- LAYER 2 START -->
									  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-392-layer-2" 
									 data-x="1000" data-hoffset="" 
									 data-y="center" data-voffset="-70" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="x:right;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									 
									data-start="4000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
									<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon2.png')}}" >
									</div>
									
								</div>
					           <!-- LAYER 2 END -->
							   <!-- LAYER NR. 3 -->
							 <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-392-layer-3"
							 
							 data-x="1000" data-hoffset="" 
									 data-y="center" data-voffset="30" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="x:right;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-start="5000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" >
							<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon3.png') }}" alt="icon1" >
									</div>
									 </div>
									 
									 <!--LAYER 3 END -->
									 
									  <!-- LAYER NR. 4 -->
							 <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-392-layer-4"
							 
							 data-x="930" data-hoffset="" 
									 data-y="center" data-voffset="100" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
							    data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 
									data-start="6000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" >
							<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon4.png') }}" alt="icon1" >
									</div>
									 </div>
									 
									 <!--LAYER 4 END-->
									 
									 <!-- LAYER NR. 5 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-392-layer-5" 
									 data-x="830" data-hoffset="" 
									 data-y="center" data-voffset="-10" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="y:top;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-start="2000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
									<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon5.png') }}" alt="icon1" >
									</div>
									
								</div>
								<!-- LAYER NR. End -->
								
									 <!-- LAYER NR. 6 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-392-layer-6" 
									 data-x="580" data-hoffset="" 
									 data-y="center" data-voffset="40" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									  data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" 
									 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
									 
									data-start="1500" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
									<div style="font-size:75px; line-height:70px;" class="sun_text">
									   Trouvez Votre<br/>
									   Aventure
									</div>
									
								</div>
								<!-- LAYER NR. End -->
								
								
								 <!-- LAYER NR. 7 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-392-layer-7" 
									 data-x="600" data-hoffset="" 
									 data-y="center" data-voffset="180" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;" 
									 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
									 
									data-start="7500" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
									
									
								</div>
								<!-- LAYER NR. End -->
								
								
								<!-- LAYER NR. 8 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-392-layer-8" 
									 data-x="980" data-hoffset="" 
									 data-y="center" data-voffset="200" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" 
									 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"  
									 
									data-start="8500" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
								
									
								</div>
								<!-- LAYER NR. End -->
								
							  </div>
							  
							  <!-- LAYER end -->
							  
						  </li>
						  
					  </ul>
				  </div>
			  </div>
			  <!-- END REVOLUTION SLIDER -->
		  </article>
	  </div>
	  <!-- section end -->
    </div>
  <!-- Home first slider End -->
             <!-- slider booking section  start -->
             <div class="full_width tour_booking_panel">
                 <div class="container">
                     <div class="row">
                         <div class="col-lg-12">
                             {{ form_start(form) }}
                             <div class="booking_panel_wrapper_main" style="margin-left: 247px;">
                                 <div class="destination_tab width_30"placeholder="Pays">
								
                                     {{ form_row(form.pays , { 'placeholder':'Destination' })  }}
                                     <i class="fa fa-caret-down"></i>
                                 </div>

                                 <div class="destination_tab width_30">
                                     {{ form_row(form.categorie , { 'placeholder':'Catégorie' })}}
                                     <i class="fa fa-caret-down"></i>
                                 </div>
								  <div class="checking_tab width_30">
                                     
									   {{ form_row(form.mots) }}
                                     
                                 </div>
								

                                

                              
                                 
								  {{ form_row(form.Rechercher) }}
 
                               

                              
                                 
                             </div>
                             {{ form_end(form) }}
                         </div>
                     </div>
                 </div>
             </div><!-- slider booking section  end -->
         </div>
		 <!-- slider main wrapper end -->
 <div class="full_width travelite_world_section">
			<div class="container">
				<div class="row">

					<div class="heading_team">
						<h3>Notre Offres</h3>
					</div>

					<!-- first ractangle start -->
					{% for offre in offres|slice(0,4)  %}
					{%if offre.statut=="activer"%}
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class=" full_width offer_box_wrapper">
          
								<div class="img_overlay_wrapper">
				
									{% for image in offre.images|slice(0, 1) %}
										<img src="{{ asset('/uploads/'~image.name) }}" alt="" width="100" height="200">

									{% endfor %}
									<div class="img_overlay"></div>
								</div>
								<div class="full_width offer_inner">
									<h4 style="font-size:21px">{{ offre.titre }}</h4>
									<br/>
								
									<br/>
									<div class="overlay_btn">
										<a href="{{ path('app_package_Details_offre',{'id':offre.id}) }}" class="green_btn" style="width:100px;background-color:#4E7AC7;">Voir Plus</a>
									</div>

								</div>
							</div>
						</div>
						{% endif %}
					{% endfor %}

					<div class="full_width destination_button">

						<a href="{{ path('app_offree') }}" class="black_btn feature_more_btn">Plus d'Offres</a>

					</div>

				</div>
			</div>
		</div>


		<div class="full_width our_partners_crousel_section">
			<div class="container">
				<div class="row row_top_padding">
					<div class="heading_team">
						<h3 style="text-align:center;">Les dernières agences inscrites</h3>
					</div>
					<div id="partner_crousel_slide">
						{% for agence in agences %}
							<div class="item">
								{% for image in agence.images|slice(0,1) %}
									<img src="{{ asset('/uploads/'~image.name) }}" alt="" width="150">
								{% endfor %}
							</div>

						{% endfor %}
					</div>


				</div>
			</div>
		</div>
	</div>
	<div class="full_width travelite_feature_section">
		<div class="container">
			<div class="row">

				{% for pays in pays|slice(0,3) %}
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="feature_box_second">
							{% for image in pays.images|slice(0,1) %}
								<img src="{{ asset('/uploads/'~image.name) }}" class="img-responsive" alt="feature" width="200" height="200">
							{% endfor %}
							<div class="feature_overlay_second">
								<div class="bottom_first">
						<a href="{{ path('app_detail_offre',{'id':pays.id}) }}">{{ pays.nom }}
									</a>
								</div>

							</div>
						</div>
					</div>
					{%endfor%}


					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="end_box_fearure">
							<h3 class="travelite_heading_feature">Les Destinations</h3>
							<p></p>
							<div></div>
						</div>

					</div>

				</div>

			</div>

		</div>
		<!-- count-down section start -->
		<div class="full_width counter_section">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="timer" id="counter2" data-to="60" data-delay="10" data-speed="{{countvoyage|raw}}">60</div>
						<div class="chart" data-animated="bounceIn" data-delay="{{countvoyage|raw}}">
							<div class="percentage_blue" data-percent="60%">
								<i class="fa fa-plane"></i>
							</div>
							<div class="counter_title">Notre Voyages</div>
						</div>
					</div>


					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="timer" id="counter3" data-to="50" data-delay="50" data-speed="{{countcruis|raw}}">50</div>
						<div class="chart" data-animated="bounceIn" data-delay="{{countcruis|raw}}">
							<div class="percentage_red" data-percent="50">
								<i class="fa fa-ship"></i>
							</div>
							<div class="counter_title">Notre Croisières</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="timer" id="counter4" data-to="30" data-delay="{{countrando|raw}}" data-speed="{{countrando|raw}}">30</div>
						<div class="chart" data-animated="bounceIn" data-delay="{{countrando|raw}}">
							<div class="percentage_skyblue" data-percent="10%">
								<i class="fa fa-person-hiking"></i>
							</div>
							<div class="counter_title">Notre Randonnées</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="color: black;">

						<div class="timer" id="counter1" data-to="40" data-delay="{{countomra|raw}}" data-speed="{{countomra|raw}}" style="color: black;">40</div>
						<div class="chart" data-animated="bounceIn" data-delay="{{countomra|raw}}" style="color: black;">
							<div class="percentage-light" data-percent="40%" style="color: black;">
								<i class="fa fa-kaaba" style="color: black;"></i>

							</div>
							<div class="counter_title">Omra & Hajj
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- count-down section End -->

	{% endblock %}