{% extends 'layout.html.twig' %}
{% block body %}

	<div id="content_wrapper">
		<div class="clearfix"></div>

		<div
			class="slider_tab_main">
			<!-- Home first slider start -->
			<div class="full_width home_slider">
				 <div class="example">
		  <article class="content" style="width:100%; float:left;">
			  <div id="rev_slider_116_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="layer-animations" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
				  <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
				  <div id="rev_slider_116_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
					  <ul style="width:100% !important;" class="home_3_slide">
						  <!-- SLIDE  -->
						  <li data-index="rs-391" data-transition="parallaxhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Smooth Mask" data-description="">
							  <!-- MAIN IMAGE -->
							 <img src="{{ asset('client/assets1/images/slider-beach.jpg')}}" width="1602" height="700" alt="slide2" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							  <!-- LAYERS -->
		
							 <div class="slider_heading_wrap">
							  <!-- LAYER NR. 1 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-391-layer-1" 
									 data-x="930" data-hoffset="" 
									 data-y="center" data-voffset="-150" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="y:top;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-start="3000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
									<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon1.png') }}" alt="icon1" >
									</div>
									
								</div>
								
								<!-- LAYER NR. 1 -->
									 <!--LAYER 2 START-->
									  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-391-layer-2" 
									 data-x="1000" data-hoffset="" 
									 data-y="center" data-voffset="-70" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="x:right;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									 
									data-start="4000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
									<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon2.png') }}" alt="icon1" >
									</div>
									
								</div>
					           <!-- LAYER 2 END -->
							   <!-- LAYER NR. 3 -->
							 <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-391-layer-3"
							 
							 data-x="1000" data-hoffset="" 
									 data-y="center" data-voffset="30" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="x:right;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-start="5000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" >
							<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon3.png') }}" alt="icon1" >
									</div>
									 </div>
									 
									 <!-- LAYER 3 END -->
									 
									  <!-- LAYER NR. 4 -->
							 <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-391-layer-4"
							 
							 data-x="930" data-hoffset="" 
									 data-y="center" data-voffset="100" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
							    data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 
									data-start="6000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" >
							<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon4.png') }}" alt="icon1" >
									</div>
									 </div>
									 
									 <!--LAYER 4 END-->
									 
									 <!-- LAYER NR. 5 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-391-layer-5" 
									 data-x="830" data-hoffset="" 
									 data-y="center" data-voffset="-10" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="y:top;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-start="2000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
									<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon5.png') }}" alt="icon1" >
									</div>
									
								</div>
								<!-- LAYER NR. End -->
								
									 <!-- LAYER NR. 6 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-391-layer-6" 
									 data-x="580" data-hoffset="" 
									 data-y="center" data-voffset="40" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									  data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" 
									 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
									 
									data-start ="1500" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
								<div style="font-size:75px; line-height:70px;" class="sun_text">
									   Trouvez Votre<br/>
									   Aventure
									</div>
									
								</div>
								<!-- LAYER NR. End -->
								
								
								 <!-- LAYER NR. 7 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-391-layer-7" 
									 data-x="600" data-hoffset="" 
									 data-y="center" data-voffset="180" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;" 
									 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
									 
									data-start="7500" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
									
									
								</div>
								<!-- LAYER NR. End -->
								
								
								<!-- LAYER NR. 8 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-391-layer-8" 
									 data-x="980" data-hoffset="" 
									 data-y="center" data-voffset="200" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" 
									 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"  
									 
									data-start="8500" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="off" style="text-align:center;">
									
								
									
								</div>
								<!-- LAYER NR. End -->
								
							  </div>
							  
							  <!-- LAYER end -->
							  
						  </li>
						  <!--slide-->
						  
						  
						   <li data-index="rs-392" data-transition="parallaxhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Smooth Mask" data-description="">
							  <!-- MAIN IMAGE -->
							   <img src="{{ asset('client/assets/images/loginslider.jpg')}}" width="1602" height="700" alt="slide2" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							  <!-- LAYERS -->
		
							 <div class="slider_heading_wrap">
							  <!-- LAYER NR. 1 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-392-layer-1" 
									 data-x="930" data-hoffset="" 
									 data-y="center" data-voffset="-150" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="y:top;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-start="3000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
									<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon1.png') }}" alt="icon1" >
									</div>
									
								</div>
								<!-- LAYER NR. 1 -->
								
								
									 <!-- LAYER 2 START -->
									  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-392-layer-2" 
									 data-x="1000" data-hoffset="" 
									 data-y="center" data-voffset="-70" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="x:right;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									 
									data-start="4000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
									<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon2.png')}}" >
									</div>
									
								</div>
					           <!-- LAYER 2 END -->
							   <!-- LAYER NR. 3 -->
							 <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-392-layer-3"
							 
							 data-x="1000" data-hoffset="" 
									 data-y="center" data-voffset="30" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="x:right;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-start="5000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" >
							<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon3.png') }}" alt="icon1" >
									</div>
									 </div>
									 
									 <!--LAYER 3 END -->
									 
									  <!-- LAYER NR. 4 -->
							 <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-392-layer-4"
							 
							 data-x="930" data-hoffset="" 
									 data-y="center" data-voffset="100" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
							    data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 
									data-start="6000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" >
							<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon4.png') }}" alt="icon1" >
									</div>
									 </div>
									 
									 <!--LAYER 4 END-->
									 
									 <!-- LAYER NR. 5 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-392-layer-5" 
									 data-x="830" data-hoffset="" 
									 data-y="center" data-voffset="-10" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									 data-transform_in="y:top;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-start="2000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
									<div style="line-height:60px;">
									<img src="{{ asset('client/assets1/images/Home/Home4/slider_icon5.png') }}" alt="icon1" >
									</div>
									
								</div>
								<!-- LAYER NR. End -->
								
									 <!-- LAYER NR. 6 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-392-layer-6" 
									 data-x="580" data-hoffset="" 
									 data-y="center" data-voffset="40" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									  data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" 
									 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
									 
									data-start="1500" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
									<div style="font-size:75px; line-height:70px;" class="sun_text">
									   Trouvez Votre<br/>
									   Aventure
									</div>
									
								</div>
								<!-- LAYER NR. End -->
								
								
								 <!-- LAYER NR. 7 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-392-layer-7" 
									 data-x="600" data-hoffset="" 
									 data-y="center" data-voffset="180" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;" 
									 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
									 
									data-start="7500" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
									
									
									
								</div>
								<!-- LAYER NR. End -->
								
								
								<!-- LAYER NR. 8 -->
							  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
									 id="slide-392-layer-8" 
									 data-x="980" data-hoffset="" 
									 data-y="center" data-voffset="200" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
						 
									data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" 
									 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"  
									 
									data-start="8500" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" style="text-align:center;">
								
									
								</div>
								<!-- LAYER NR. End -->
								
							  </div>
							  
							  <!-- LAYER end -->
							  
						  </li>
						  
					  </ul>
				  </div>
			  </div>
			  <!-- END REVOLUTION SLIDER -->
		  </article>
	  </div>
				<!-- section end -->
			</div>
			<!-- Home first slider End -->
			<!-- slider booking section  start -->
			
			<!-- slider booking section  end -->
		</div>
		<!-- slider main wrapper end -->
		<div class="full_width travelite_world_section">
			<div class="container">
				<div class="row">

					<div class="heading_team">
						<h3>Tous les Offres</h3>
					</div>

					<!-- first ractangle start -->
					{% for offre in offres  %}
                   
						<div class="col-lg-3 col-md-3 col-sm-6">
                         <br />
							<div class=" full_width offer_box_wrapper">
								
								<div class="img_overlay_wrapper">

									{% for image in offre.images|slice(0, 1) %}
										<img src="{{ asset('/uploads/'~image.name) }}" alt="" width="100" height="200">

									{% endfor %}
									<div class="img_overlay"></div>
								</div>
								<div class="full_width offer_inner">
									<h4 style="font-size:21px">{{ offre.titre }}</h4>
								<br><br>
									<div class="overlay_btn">
										<a href="{{ path('app_package_Details_offre',{'id':offre.id}) }}" class="green_btn">Voir Plus</a>
									</div>

								</div>
							</div>
						</div>
					{% endfor %}
</div>
<div class="row space_100">
						<div class="d-flex justify-content-center">
					{{ knp_pagination_render(offres,'pagination.html.twig') }}
				</div>
</div>
				</div>
				
			</div>
			
		</div>

	{% endblock %}