{% extends 'base.html.twig' %}
{% block style %}{% endblock %}
{% block titlepage %}Croisiere index{% endblock %}

{% block script %}
	<script src="{{ asset('admin/global_assets/js/plugins/tables/datatables/datatables.min.js') }}"> </script>
	<script src="{{ asset('admin/global_assets/js/demo_pages/datatables_basic.js') }}"> </script>   
{% endblock %}

{% block content %}

   <div class="content">
  
              
           
   <div class="card-header header-elements-inline" style="background-color: #007682b5;" style="padding-bottom:100px">
  
						<h3 class="card-title" style="color:white">Liste des Croisieres</h3>
                        <div class="header-elements"  >
							 <a class="btn btn-dark" style="width:150px" href="{{ path('app_croisiere_user_new') }}"><i class="icon-user-plus"></i> Ajouter Croisiere</a>
	                	</div>
                           </div>
                           
                           <div class="card">
						
							<div class="card-body">
    <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
        <thead>
            <tr>
               
                <th>ID</th>
               
                <th>Titre</th>
               
              
                 <th>Agence de Voyage</th>
                  <th>Pays</th>
                  <th ><center>Images</center></th>
                <th colspan="3"><center>actions</center></th>
            </tr>
        </thead>
        <tbody>
        {% for croisiere in croisieres %}
            <tr>
                  <td>{{ croisiere.id }}</td>
                <td>{{ croisiere.titre }}</td>
                
          
              
               <td>{{croisiere.agence}}</td>
                {% for croisiere in croisiere.pays|slice(0, 1) %}
            
                  <td>{{ croisiere.nom}}</td>
               
            
            {% endfor %}
      
            
                  
           

                 <td>
                 <center>
                {% for image in croisiere.images|slice(0, 1) %}
               <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="150">
                      
        {% endfor %}
             </center></td>
                <td colspan="3">
                <center>
                                  <a class="btn edit btn-info"  href="{{ path('app_croisiere_user_show', {'id': croisiere.id}) }}"style="width:40px"><i class="icon-eye2"></i></a>

                     <a class="btn edit btn-warning"  href="{{ path('app_croisiere_user_edit', {'id': croisiere.id}) }}"style="width:40px"><i class="icon-pencil"></i></a>
                    {{ include('croisiere_user/_delete_form.html.twig') }}
                   </center>
            </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
    </div>
    </div>


{% endblock %}