{% extends 'base.html.twig' %}

{% block titlepage %}Croisiere{% endblock %}
    {% block script %}
	<script src="{{ asset('admin/global_assets/js/plugins/tables/datatables/datatables.min.js') }}"> </script>
	<script src="{{ asset('admin/global_assets/js/demo_pages/datatables_basic.js') }}"> </script>   
{% endblock %}
{% block content %}
<div class="content">
  
              
           
   <div class="card-header header-elements-inline" style="background-color: #007682b5;" style="padding-bottom:100px">
  
						<h3 class="card-title" style="color:white">Details du Croisiere :{{croisiere.titre}}</h3>
                        <div class="header-elements"  >
							 <a class="btn btn-dark" style="width:150px" href="{{ path('app_croisiere_user_index') }}"><i class="icon-reply"></i> Liste des Croisiere</a>
	                	</div>

                           </div><br>
                           
                           <div class="card">
						
							<div class="card-body">
    <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0"  ="grid" aria-describedby="DataTables_Table_0_info">
  
        <tbody>
            
            <tr>
                <th>Id</th>
                <td>{{ croisiere.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ croisiere.titre }}</td>
            </tr>
           
         
            <tr>
                <th>Inclus</th>
                <td>{{ croisiere.inclus|raw }}</td>
            </tr>
            <tr>
                <th>Non Inclus</th>
                <td>{{ croisiere.NonInclus|raw }}</td>
            </tr>
           <tr>
           <th>Pays</th>
               <td>  {% for croisiere in croisiere.pays %}
            
              {{ croisiere.nom}}--{% endfor %}</td>
               
                  </tr>
                   <tr>
                <th>Description</th>
                <td>{{ croisiere.description|raw }}</td>
            </tr>
         <tr>
                                   <th>Images</th>
                                  
                                   <td>
                            {% if app.request.attributes.get('_route') == 'app_croisiere_user_show' %}
  
      
        
   {% for image in croisiere.images %}
            <div>
           
                <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="90" height="90">

                {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
                
            </div>
        {% endfor %}
        </td></tr>
        {%endif%}
        </tbody>
    </table>
        </div>
        </div>
       
        
          {% if formgrille is defined %}
       
      <div class="card-header header-elements-inline" style="background-color:Teal" style="padding-bottom:100px">
  
						<h3 class="card-title" style="color:white"> Liste des GrilleTarifaires </h3>
                        <div class="header-elements"  >
							 <a href="#" data-toggle="modal" data-target="#grilles"class="btn btn-dark" style="width:100px"><i class="icon-user-plus"></i> Ajouter</a>
	                	</div>
					</div>
                       <div class="card">
						
							<div class="card-body">
	    <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
        <thead>
            <tr>
                
                <th>Date début</th>
                <th>Date fin</th>
                <th>Description</th>
                <th>Prix</td>
                <th>Prix Enfant</td>
              
                <th >action</th>
            </tr>
        </thead>
        <tbody>
        {% for grilletarifaire in croisiere.grilletarifaires %}
            <tr>
                
                <td>{{ grilletarifaire.datedebut|date('Y/m/d') }}</td>
                <td>{{ grilletarifaire.datefin|date('Y/m/d') }}</td>
                <td>{{ grilletarifaire.description }}</td>
                <td>{{grilletarifaire.prix}}</td>
                  <td>{{grilletarifaire.prixEnfant}}</td>
                  
                 
              
                <td>
                 <div class="modal fade" id="supprimer_grilletarifaire_{{ grilletarifaire.id }}" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>Suppression</h4>
                        <p>Êtes-vous sûr de vouloir supprimer  ?  la date debut {{ grilletarifaire.datedebut|date('Y/m/d') }}la date Fin  {{ grilletarifaire.datefin|date('Y/m/d') }}  et le prix{{ grilletarifaire.prix }}  </p>
                   </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnNo" data-dismiss="modal">
                            <i class="fa fa-ban" aria-hidden="true"></i> Annuler
                        </button>
                        <a href= "{{ path('grille_tarifaire_del', {'id': grilletarifaire.id}) }}" class="btn w-sm btn-danger remove_item">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>   
                  <a style="width:40px;background-color:Red" data-toggle="modal" href="#supprimer_grilletarifaire_{{ grilletarifaire.id }}" class="btn btn-danger"><i class="icon-trash-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 
</div></div>
		{{ form_start(formgrille, {'attr': {'novalidate': 'novalidate','class': 'col-lg-12' }})}}
	<div id="grilles" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 840px">
		 <div class="card-body">
            <div class="form-group row">
                <label class="col-lg-2 col-form-label font-weight-semibold">Date Début</label>
                            {{ form_widget(formgrille.dateDebut,{'attr': {'required' :'required','class': 'form-control col-lg-4','placeholder':'datedebut'}}) }}</div>
			
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label font-weight-semibold">Date Fin</label>
							  {{ form_widget(formgrille.dateFin, {'attr': {'required' :'required','class': 'form-control col-lg-4','placeholder':'datefin'}}) }}</div>
            
			            <div class="form-group row">
                            <label class="col-lg-2 col-form-label font-weight-semibold">Description</label>
							  {{ form_widget(formgrille.description, {'attr': {'required' :'required','class': 'form-control col-lg-4','placeholder':'description'}}) }}</div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label font-weight-semibold">Prix</label>
							  {{ form_widget(formgrille.prix, {'attr': {'required' :'required','class': 'form-control col-lg-4','placeholder':'prix'}}) }}</div>
                       <div class="form-group row">
                            <label class="col-lg-2 col-form-label font-weight-semibold">Prix enfant</label>
							  {{ form_widget(formgrille.PrixEnfant, {'attr': {'required' :'required','class': 'form-control col-lg-4','placeholder':'prix'}}) }}</div>
                        <div class="form-group row">
                             <label class="col-lg-2 col-form-label font-weight-semibold">Hotel</label>
							  {{ form_widget(formgrille.hotel, {'attr': {'required' :'required','class': 'form-control col-lg-4','placeholder':'hotelgrille'}}) }}</div>  
           
				        <button type="submit" class="btn bg-success">Valider <i class="icon-checkmark ml-2"></i></button>
		    </div>
                          
		</div>
	</div>
  
        {{ form_end(formgrille) }}

	 </div>
	 {% endif %}
    
  <div class="content">
  
              
           
   <div class="card-header header-elements-inline" style="background-color: #007682b5;" style="padding-bottom:100px">
  
						<h3 class="card-title" style="color:white">Liste des Excursions Croisières</h3>
                        <div class="header-elements"  >
							 <a class="btn btn-dark" style="width:200px" href="{{ path('app_croisiere_excursion_new') }}"><i class="icon-user-plus"></i> Ajouter Excursion Croisière</a>
	                	</div>
                           </div>
                           
                           <div class="card">
						
							<div class="card-body">
    <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
        
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th colspan="2"><center>Images</center></th>
           
                <th colspan="3"><center>actions</center></th>
            </tr>
        </thead>
        <tbody>
        {% for croisiere_excursion in croisiere_excursions %}
            <tr>
                <td>{{ croisiere_excursion.id }}</td>
                <td>{{ croisiere_excursion.type }}</td>
       
                 <td colspan="2">
                 <center>
                {% for image in croisiere_excursion.excursion.images|slice(0, 1) %}
               <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="150">
                      
        {% endfor %}
        </center></td>
                <td colspan="3">
                <center>
                     <a class="btn edit btn-info"  href="{{ path('app_croisiere_excursion_show', {'id': croisiere_excursion.id}) }}"style="width:40px"><i class="icon-eye2"></i></a>
                     <a class="btn edit btn-warning"  href="{{ path('app_croisiere_excursion_edit', {'id': croisiere_excursion.id}) }}"style="width:40px"><i class="icon-pencil"></i></a>
                    {{ include('croisiere_excursion/_delete_form.html.twig') }}
                   </center>
            </td>
                <td></td><td></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

{% endblock %}