{% extends 'base.html.twig' %}
{% block style %}{% endblock %}
{% block titlepage %} Excursion index{% endblock %}

{% block script %}
	<script src="{{ asset('admin/global_assets/js/plugins/tables/datatables/datatables.min.js') }}"> </script>
	<script src="{{ asset('admin/global_assets/js/demo_pages/datatables_basic.js') }}"> </script>   
{% endblock %}

{% block content %}

   <div class="content">
  
              
           
   <div class="card-header header-elements-inline" style="background-color: #007682b5;" style="padding-bottom:100px">
  
						<h3 class="card-title" style="color:white">Liste des Excursions Croisières</h3>
                        <div class="header-elements"  >
							 <a class="btn btn-dark" style="width:200px" href="{{ path('app_croisiere_excursion_new') }}"><i class="icon-user-plus"></i> Ajouter Excursion Croisière</a>
	                	</div>
                           </div>
                           
                           <div class="card">
						
							<div class="card-body">
    <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
        
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th colspan="2"><center>Images</center></th>
           
                <th colspan="3"><center>actions</center></th>
            </tr>
        </thead>
        <tbody>
        {% for croisiere_excursion in croisiere_excursions %}
            <tr>
                <td>{{ croisiere_excursion.id }}</td>
                <td>{{ croisiere_excursion.type }}</td>
       
                 <td colspan="2">
                 <center>
                {% for image in croisiere_excursion.excursion.images|slice(0, 1) %}
               <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="150">
                      
        {% endfor %}
        </center></td>
                <td colspan="3">
                <center>
                     <a class="btn edit btn-info"  href="{{ path('app_croisiere_excursion_show', {'id': croisiere_excursion.id}) }}"style="width:40px"><i class="icon-eye2"></i></a>
                     <a class="btn edit btn-warning"  href="{{ path('app_croisiere_excursion_edit', {'id': croisiere_excursion.id}) }}"style="width:40px"><i class="icon-pencil"></i></a>
                    {{ include('croisiere_excursion/_delete_form.html.twig') }}
                   </center>
            </td>
                <td></td><td></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}