{% extends 'layout.html.twig' %}
 {% block body %}
  <div id="content_wrapper">
  <!--page title Start-->
   <div id="content_wrapper"> 
    <div class="clearfix"></div>
	<div class="slider_tab_main">
	<!-- Home first slider start -->
  <div class="full_width home_slider">
	  <div class="example">
		  <article class="content" style="width:100%; float:left;">
			  <div id="rev_slider_116_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="layer-animations" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
				  <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
				  <div id="rev_slider_116_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
					  <ul style="width:100% !important;" class="homesix_slide">
						  <!-- SLIDE  -->
						  <li data-index="rs-391" data-transition="parallaxhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Smooth Mask" data-description="">
							  
							  <div class="slider_overlay_2">
							 </div>
							  <!-- MAIN IMAGE -->
							  <img src="{{ asset('client/assets/images/cris.jpg')}}" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							  <!-- MAIN IMAGE -->
							 
							  
							  <!-- LAYERS -->
					          	<!-- Layer wrapper start-->
								<div class="layer_wrapper_main">
								
								<!-- LAYER NR. 1 -->
							 <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-391-layer-1"
							 data-x="730" data-hoffset="" 
									 data-y="center" data-voffset="-150" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
									
									data-transform_in="x:-50px;rY:-90deg;opacity:0;s:2000;e:Back.easeOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"  
									 
									data-start="2000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" >
			                         
									<h2 class="tour_text_yellow" style="font-size:140px; line-height:60px;">Trouvez</h2>
									
									 </div>
								<!-- LAYER NR. End -->
								
								<!-- LAYER NR. 2-->
							 <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-391-layer-2"
							 data-x="670" data-hoffset="" 
									 data-y="center" data-voffset="-150" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
									
									 data-transform_in="x:-50px;rY:-90deg;opacity:0;s:2000;e:Back.easeOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"  
									 
									data-start="2000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" >
			                         
									<div class="on_has_wrap" style="line-height:54px;"> 
									<span style="font-size:30px; line-height:60px;">Votre</span><br/>
									<span style="font-size:100px; line-height:60px;">#</span>
									</div>
									
									 </div>
								<!-- LAYER NR. End -->
								
								<!-- LAYER NR. 3 -->
							 <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-391-layer-3"
							 data-x="670" data-hoffset="" 
									 data-y="center" data-voffset="-50" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
									
									data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" 
									 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
									 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"   
									 
									data-start="4000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" >
									<div class="ever_tag_text" style="font-size:50px; line-height:60px; font-weight:300;">Croisière</div>
								
									 </div>
								<!-- LAYER NR. End -->
								<!-- LAYER NR. 4 -->
							 <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-391-layer-4"
							 data-x="670" data-hoffset="" 
									 data-y="center" data-voffset="" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
									
									data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" 
									 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"  
									 
									data-start="5000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" >
									<h3 class="tour_text" style="font-size:43px; line-height:60px;">Profitez votre Temps</h3>
								
									 </div>
								<!-- LAYER NR. End -->
								
								<!-- LAYER 5 start-->
								<div class="slider_buttons tp-caption NotGeneric-Title slideheading  tp-resizeme"
								id="slide-391-layer-5" 
								data-x="670" data-y="center" data-voffset="80" 
								
										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 
									 data-start="5500" 
									data-splitin="none" 
									data-splitout="none"
										>
										
										</div>
									
									<!-- LAYER 5 end-->
								<!-- LAYER end -->
							</div>
							<!-- layer wrapper end -->
						  </li>						
						  <!--slide-->	
						  
						  <li data-index="rs-392" data-transition="parallaxhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Smooth Mask" data-description="">
							 <div class="slider_overlay_2">
							 </div>
							 
							 <!-- MAIN IMAGE -->
							  <img src="{{ asset('client/assets/images/crois.jpg')}}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							 <!-- MAIN IMAGE -->
							 
							 <!-- Layer wrapper start-->
								<div class="layer_wrapper_main">
									<!-- LAYER NR. 1 -->
							
							 <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-392-layer-1"
							 data-x="730" data-hoffset="" 
									 data-y="center" data-voffset="-150" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
									
									data-transform_in="x:-50px;rY:-90deg;opacity:0;s:2000;e:Back.easeOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"  
									 
									data-start="2000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" >
			                         
									<h2 class="tour_text_yellow" style="font-size:160px; line-height:60px;">Trouvez</h2>
									
									 </div>
								<!-- LAYER NR. End -->
								
								<!-- LAYER NR. 2-->
							 <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-392-layer-2"
							 data-x="670" data-hoffset="" 
									 data-y="center" data-voffset="-150" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
									
									 data-transform_in="x:-50px;rY:-90deg;opacity:0;s:2000;e:Back.easeOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"  
									 
									data-start="2000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" >
			                         
									<div class="on_has_wrap" style="line-height:54px;"> 
									<span style="font-size:30px; line-height:60px;">Votre</span><br/>
									<span style="font-size:100px; line-height:60px;">#</span>
									</div>
									
									 </div>
								<!-- LAYER NR. End -->
								
								<!-- LAYER NR. 3 -->
							 <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-392-layer-3"
							 data-x="670" data-hoffset="" 
									 data-y="center" data-voffset="-50" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
									
									data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" 
									 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
									 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"   
									 
									data-start="4000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" >
									<div class="ever_tag_text" style="font-size:50px; line-height:60px; font-weight:300;">Croisière</div>
								
									 </div>
								<!-- LAYER NR. End -->
								<!-- LAYER NR. 4-->
							 <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-392-layer-4"
							 data-x="670" data-hoffset="" 
									 data-y="center" data-voffset="" 
												data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"
									
									data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" 
									 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"  
									 
									data-start="5000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" >
									<h3 class="tour_text" style="font-size:43px; line-height:60px;">Profitez votre Temps</h3>
								
									 </div>
								<!-- LAYER NR. End -->
								
								<!-- LAYER 5 start-->
								<div class="slider_buttons tp-caption NotGeneric-Title slideheading  tp-resizeme" 
								id="slide-392-layer-5" 
								data-x="670" data-y="center" data-voffset="80" 
								
										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 
									 data-start="6000" 
									data-splitin="none" 
									data-splitout="none"
										>
											
										</div>
									
									<!-- LAYER 5 end-->
								<!-- LAYER end -->
							</div><!-- Layer wrapper start-->
							
							</li>
							
		 
					  </ul>
				  </div>
			  </div>
			  <!-- END REVOLUTION SLIDER -->
		  </article>
	  </div>
	  <!-- section end -->
    </div>
  <!-- Home first slider End -->
  
   <!-- overlay_tabs start -->
  <div class="overlay_tabs">
  <div class="container">
  <div class="row">
  <!--  slider_tabs_serch_start -->
 
  <!--  slider_tabs_serch_End -->
  </div>
  </div>
  </div>
  
  </div><!-- slider main wrapper end -->
 
 <!--  special offer section start -->
 	 <div class="full_width travelite_world_section">
		<div class="container">
			<div class="row">

  <div class="travelite_destinaion_main">
			<div class="heading_team">
				<h3>Notre Croisières</h3>
			</div>
        </div>
     
    
    <!--page title end-->
    <div class="clearfix"></div>
	
	<div class="full_width destinaion_sorting_section">
	  <div class="container">
	  
	    <!--  sorting panel End -->
		<div class="col-lg-12">
		
			<div class="full_width sorting_places_section">
			
				<div class="row">
				<!--  place sort start -->
				{% for pay in pays %}
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="sorting_places_wrap">
					<div class="thumb_wrape">
				
					{% for image in pay.images|slice(0, 1) %}
			<a href="{{ path('app_detail_croisiere',{'id':pay.id}) }}"><img src="{{ asset('/uploads/'~image.name) }}" alt="" width="374" height="277"></a>
						
			{% endfor %}
					</div>
					<div class="bottom_desc">
					<h4>{{ pay.nom }}</h4>
					<span class="packs">{{ countcroisiere|raw }} Paquets</span>
					</div>
					</div>
					</div>
						<!--  place sort End -->
					
					<!--  place sort start -->
					
						<!--  place sort End -->
					
				{% endfor %}
		</div>
	     <!-- sorting places section -->
	    <!-- pagination section -->
	  
	   <!-- pagination section -->
	   </div>
		  </div>
	  </div>
	  </div>
		  </div>
	  </div>
	   <div class="d-flex justify-content-center">
					{{ knp_pagination_render(pays,'pagination.html.twig') }}
				</div>
	  </div>

  {% endblock %}